*{
	margin:0;
	padding:0;
}

.fix{
	clear: both;
}
.container{
	width: 1080px;
	margin:0 auto;
}
header{
box-sizing: border-box;
height:100px;
background-color: black;
overflow: hidden;
border:1px solid black;
}
.logo{
	width: 150px;
	height: 100px;
	background-color: pink;
	float: left;
	text-align: center;
	border:1px solid black;

	
}
.banner{
	width: 924px;
	height:100px;
	background-color: purple;
	float: right;
	text-align: center;
	border:1px solid black;
	
}
nav{
height: 50px;
background-color: red;
border:1px solid black;

}
nav ul{
	
}
nav ul li{
	display: inline-block;
	list-style: none;
	padding-right: 25px;
}
nav ul li a{
	text-decoration: none;
	color:white;
}
main{
height: 400px;
background-color: gray;
border:1px solid black;
box-sizing:border-box;
}
main aside{
height: 400px;
width: 350px;
background-color: blue;
float: left;
border:1px solid black;
}
main section{
height: 400px;
width: 724px;
background-color: green;
float:right;
border:1px solid black;
}
article{

}
footer{
height: 40px;
background-color: pink;
text-align: center;
border:1px solid black;
}
